
<div class="pure-menu pure-menu-horizontal">
    <span class="pure-menu-heading pure-menu-link">Menu</span>
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <%= link_to 'Start page', controller: 'welcome' %>
        </li>
        <li class="pure-menu-item">
            <%= link_to 'Countries', controller: 'countries' %>
        </li>
        <li class="pure-menu-item">
    	   <%= link_to 'Regions', controller: 'regions' %>
    	</li>
        <li class="pure-menu-item">
    	   <%= link_to 'Cities', controller: 'cities' %>
    	</li>
        <li class="pure-menu-item">
    	   <%= link_to 'Hostels', controller: 'hostels' %>
    	</li>
	<ul>
</div>