<%= form_with model: @country, local: true, :class => "pure-form pure-form-stacked" do |form| %>
 
  <% if @country.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@country.errors.count, "error") %> prohibited
        this country from being saved:
      </h2>
      <ul>
        <% @country.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.button :class => "pure-button" %>
  </p>
 
<% end %>