<h1>Listing Countries</h1>
<%= link_to 'New country', new_country_path, :class => "green-button pure-button" %>
<br>
<br>
<table class="pure-table pure-table-horizontal">
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
 
  <% @countries.each do |country| %>
    <tr>
      <td><%= country.name %></td>
      <td><%= link_to 'Show', country_path(country), :class => "pure-button" %></td>
      <td><%= link_to 'Edit', edit_country_path(country), :class => "pure-button" %></td>
      <td><%= link_to 'Destroy', country_path(country),
              method: :delete,
              onclick: "isGood(#{country.regions.count});", 
              :class => "pure-button" %></td>
    </tr>
  <% end %>
</table>
