
<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>
<h2>Regions</h2>
<% if (@country.regions.count > 0) then%>
<table class="pure-table pure-table-horizontal">
	<tr>
		<th>Name</th>
		<th colspan="3"></th>
	</tr>
	<%= render @country.regions %>
</table>
<% else %>
	No regions
<% end %>
 
 
<h2>Add a region:</h2>
<%= render 'regions/createId' %>

 <%= link_to 'Edit', edit_country_path(@country), :class => "pure-button" %> |
<%= link_to 'Back', countries_path, :class => "pure-button" %>