<tr>
  <td><%= city.name %></td>
  <td><%= link_to 'Show', city_path(city), :class => "pure-button" %></td>
  <td><%= link_to 'Edit', edit_city_path(city), :class => "pure-button" %></td>
  <td><%= link_to 'Destroy city', [city.region, city],
               method: :delete,
               onclick: "isGood(#{city.hostels.count});", 
               :class => "pure-button" %></td>

</tr>

