<%= form_with model: @city, local: true , :class => "pure-form pure-form-stacked" do |form| %>
 
  <% if @city.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@city.errors.count, "error") %> prohibited
        this city from being saved:
      </h2>
      <ul>
        <% @city.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <p>
    <%= form.label :Region %>
    <%= form.select(:region_id) do %>
        <% if (form.object.region_id == nil) %>
          <option value="" selected>Please choose</option>
        <% end %>
        <%= options_from_collection_for_select(Region.all, :id, :name, :selected => form.object.region_id) %>
    <% end %>
  </p>

  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.button :class => "pure-button" %>
  </p>
 
<% end %>
