
<h1>Listing cities</h1>
<%= link_to 'New city', new_city_path, :class => "green-button pure-button" %>
<br>
<br>
<table class="pure-table pure-table-horizontal">
  <tr>
    <th>Name</th>
    <th>Region</th>
    <th>Country</th>
    <th colspan="3"></th>
  </tr>
 
  <% @cities.each do |city| %>
    <tr>
      <td><%= city.name %></td>
      <td><%= city.region.name %></td>
      <td><%= city.region.country.name %></td>
      <td><%= link_to 'Show', city_path(city), :class => "pure-button"%></td>
      <td><%= link_to 'Edit', edit_city_path(city), :class => "pure-button" %></td>
      <td><%= link_to 'Destroy', city_path(city),
              method: :delete,
              :class => "pure-button",
              onclick: "isGood(#{city.hostels.count});"%></td>
    </tr>
  <% end %>
</table>