
<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<h2>Hostels</h2>
<% if (@city.hostels.count > 0) then%>
<table class="pure-table pure-table-horizontal">
	<tr>
		<th>Name</th>
		<th colspan="3"></th>
	</tr>
	<%= render @city.hostels %>
</table>
<% else %>
	No regions
<% end %>
 
<h2>Add a hostel:</h2>
<%= render 'hostels/formC' %>

 <%= link_to 'Edit', edit_city_path(@city), :class => "pure-button" %> |
<%= link_to 'Back', cities_path, :class => "pure-button" %>