<%= form_with(model: [ @country, @country.regions.build ], :class => "pure-form pure-form-stacked") do |form| %>
 
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.button :class => "pure-button" %>
  </p>
 
<% end %>