<%= form_with model: @region, local: true, :class => "pure-form pure-form-stacked" do |form| %>
 
  <% if @region.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@region.errors.count, "error") %> prohibited
        this region from being saved:
      </h2>
      <ul>
        <% @region.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :Country %>
    <%= form.select(:country_id) do %>
        <% if (form.object.country_id == nil) %>
          <option value="" selected>Please choose</option>
        <% end %>
        <%= options_from_collection_for_select(Country.all, :id, :name, :selected => form.object.country_id) %>
    <% end %>
  </p>


  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.button :class => "pure-button" %>
  </p>
 
<% end %>