<tr>
  <td><%= region.name %></td>
  <td><%= link_to 'Show', region_path(region), :class => "pure-button" %></td>
  <td><%= link_to 'Edit', edit_region_path(region), :class => "pure-button" %></td>
  <td><%= link_to 'Destroy Region', [region.country, region],
               method: :delete,
               onclick: "isGood(#{region.cities.count});", 
               :class => "pure-button" %></td>

</tr>

