<h1>Listing Regions</h1>
<%= link_to 'New region', new_region_path, :class => "green-button pure-button"%>
<br>
<br>
<table class="pure-table pure-table-horizontal">
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th colspan="3"></th>
  </tr>
 
  <% @regions.each do |region| %>
    <tr>
      <td><%= region.name %></td>
      <td><%= region.country.name %></td>
      <td><%= link_to 'Show', region_path(region), :class => "pure-button" %></td>
      <td><%= link_to 'Edit', edit_region_path(region), :class => "pure-button" %></td>
      <td><%= link_to 'Destroy', region_path(region),
              method: :delete,
              onclick: "isGood(#{region.cities.count});", 
              :class => "pure-button" %></td>
    </tr>
  <% end %>
</table>