
<p>
  <strong>Name:</strong>
  <%= @region.name %>
</p>

<h2>Cities</h2>
<% if (@region.cities.count > 0) then%>
<table class="pure-table pure-table-horizontal">
	<tr>
		<th>Name</th>
		<th colspan="3"></th>
	</tr>
	<%= render @region.cities %>
</table>
<% else %>
	No cities
<% end %>
 
<h2>Add a city:</h2>
<%= render 'cities/formC' %>

 <%= link_to 'Edit', edit_region_path(@region) , :class => "pure-button"%> |
<%= link_to 'Back', regions_path , :class => "pure-button"%>