<%= form_with model: @hostel, local: true, :class => "pure-form pure-form-stacked" do |form| %>
 
  <% if @hostel.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@hostel.errors.count, "error") %> prohibited
        this hostel from being saved:
      </h2>
      <ul>
        <% @hostel.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
   <p>
    <%= form.label :City %>
    <%= form.select(:city_id) do %>
        <% if (form.object.city_id == nil) then %>
          <option value="" selected>Please choose</option>
        <% end %>
        <%= options_from_collection_for_select(City.all, :id, :name, :selected => form.object.city_id) %>
    <% end %>
  </p>

  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.button :class => "pure-button"%>
  </p>
 
<% end %>