<tr>
  <td><%= hostel.name %></td>
  <td><%= link_to 'Show', hostel_path(hostel), :class => "pure-button" %></td>
  <td><%= link_to 'Edit', edit_hostel_path(hostel), :class => "pure-button" %></td>
  <td><%= link_to 'Destroy hostel', [hostel.city, hostel],
               method: :delete,
               data: { confirm: 'Are you sure?'}, 
               :class => "pure-button" %></td>

</tr>

