
<h1>Listing hostels</h1>
<%= link_to 'New hostel', new_hostel_path, :class => "green-button pure-button" %>
<br>
<br>
<table class="pure-table pure-table-horizontal">
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Region</th>
    <th>Country</th>
    <th colspan="3"></th>
  </tr>
 
  <% @hostels.each do |hostel| %>
    <tr>
      <td><%= hostel.name %></td>
      <td><%= hostel.city.name %></td>
      <td><%= hostel.city.region.name %></td>
      <td><%= hostel.city.region.country.name %></td>
      <td><%= link_to 'Show', hostel_path(hostel), :class => "pure-button" %></td>
      <td><%= link_to 'Edit', edit_hostel_path(hostel), :class => "pure-button" %></td>
      <td><%= link_to 'Destroy', hostel_path(hostel),
              method: :delete,
              data: { confirm: 'Are you sure?' }, 
              :class => "pure-button" %></td>
    </tr>
  <% end %>
</table>