<!DOCTYPE html>
<html>
  <head>
    <title>Hostels</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
     strong,
	   h3,
	   h2,
	   h1 { 
	    color: rgb(28, 184, 65);
	   }
	   th {
	    color: rgb(28, 184, 65);
	   }
  </style>
  <%= render 'welcome/base' %>
  </head>

  <body>
  <%= render 'welcome/menu' %>

<div class="pure-g">
    <div class="pure-u-1-12"></div>
    <div class="pure-u-11-12">
      <style scoped>
        .green-button {
            background: rgb(28, 184, 65); /* this is a green */
        }
      </style>
	    <%= yield %>
	    </div>
	    </div>
      <%= javascript_include_tag "application" %>
  </body>
</html>
